{%macro customBtn(link="",text="شراء الآن") %}
  <a href="{{link}}" class="btn-makeorder flex justify-center  gap-2 items-center mt-2">
           <img class="w-4 h-4" src="/images/cart.png">
           {{text}} 
       </a>
                   
{%endmacro%}