{%macro Colors()%}
      <!-- color -->
          <div class="flex flex-col">
                                    <div>الألوان</div>
                                    <span
                                        class="border w-24 mt-2 p-1 h-10 border-gray items-center rounded-full flex gap-1">
                                        <span class=" w-6 h-6 bg-mediumSpringBud rounded-full"></span>
                                        <span class=" w-6 h-6 bg-desertSand  rounded-full"></span>
                                        <span class=" w-6 h-6 bg-black rounded-full"></span>
                                    </span>

                                </div>
            <!-- color -->
{%endmacro%}