{%macro productImages(images)%}
      <div class="product-img">
                        <img class=" object-cover w-full h-full rounded-2xl"src="{{images[0].imageUrl}}">
                    </div>
                    <div class="product-more-img  bg-white rounded-xl left-14 top-1/4 absolute">
                       {%for img in images%}
                        <img class="w-24 rounded-lg" src="{{img.imageUrl}}">
                        {%endfor%}
                    </div>
{%endmacro%} 