{%macro productPrice(type,name,price)%}
<div class="flex w-full">
                        <div class="w-1/2">
                            <div class="flex gap-2">
                                <span class="text-brown-holder text-lg">{{type}}</span>
                                <span
                                    class="bg-whiteYellow py-0 flex items-center px-2 text-sm font-semibold rounded-full">12
                                    Left!</span>
                            </div>
                            <div class=" font-semibold text-2xl my-1">{{name}}</div>
                            <div class="font-semibold text-2xl">{{price}} ج.م</div>
                        </div>

                        <div class="w-1/2 flex justify-end">
                            <a a href="/order/{{name}}" class="btn-makeorder w-8/12 h-10 flex justify-center gap-2 items-center mt-2">
                                <img class="w-4 h-4" src="/images/cart.png">
                                شراء الآن
                            </a>
                        </div>
                    </div>
{%endmacro%}