{%macro productSize()%}
  <div class="mt-4">
       <div class=" text-lg font-semibold">المقاسات</div>
       <div class=" flex gap-2">
           <span
               class="bg-whiteGray w-12 h-10 flex justify-center items-center rounded-md border border-gray">S</span>
           <span
               class="bg-whiteGray w-12 h-10 flex justify-center items-center rounded-md border border-gray">M</span>
           <span
               class="bg-whiteGray w-12 h-10 flex justify-center items-center rounded-md border border-gray">L</span>
           <span
               class="bg-whiteGray w-12 h-10 flex justify-center items-center rounded-md border border-gray">XL</span>
           <span
               class="bg-whiteGray w-12 h-10 flex justify-center items-center rounded-md border border-gray">XXL</span>
       </div>
   </div>
{%endmacro%}