{%macro collectionType(title="",type="")%}
  <div class="type-product-circle place-self-center border border-black custom-shadow flex flex-col items-center justify-center gap-4">
            <div class=" font-bold text-yellow-600">
            {{title}} 
            </div>
            <div class="font-bold ">{{type}}</div>
        </div>
{%endmacro%}