
{%macro date(day,moth,year,minute)%}
   <div class="flex gap-1 items-center">
                <span class=" text-brown-holder text-xs">سنه</span>
                <span class=" font-bold text-lg">{{year}}</span>
    
            </div>
            <div class="flex gap-1 items-center">
                <span class=" text-brown-holder text-xs">شهر</span>
                <span class=" font-bold text-lg">{{moth}}</span>
    
            </div>
            <div class="flex gap-1 items-center">
                <span class=" text-brown-holder text-xs">يوم</span>
                <span class=" font-bold text-lg">{{day}}</span>
    
            </div>
            <div class="flex gap-1 items-center">
                <span class=" text-brown-holder text-xs">دقيقه</span>
                <span class=" font-bold text-lg">{{minute}}</span>
    
            </div>
 {%endmacro%}

 {%macro produt(type,name)%}
         <div class=" text-gold text-sm">{{type}}</div>
        <div class=" font-semibold text-base">{{name}}</div>
 {%endmacro%}
 {%macro productImg(img)%}
        <img class=" md:h-80  w-full" src="{{img}}">
 {%endmacro%}
