<div class="bg-gray p-16 px-4 md:p-16 pb-5">
   <div class="text-2xl text-center font-semibold hover:text-gray-500 cursor-pointer">الخضير لنوادر العود</div>
   <div class="text-base text-center  text-gray-500 cursor-pointer my-5">أفخر أنواع العود والبخور يباع في هذا المكان !</div>
   <div class="flex flex-col lg:flex-row  justify-center gap-4">
      <div class=" flex  gap-4">
         <span class='flex justify-center item-center text-gray-500 py-2 border border-gray-400 rounded-full' style="padding:0.5rem 0.6rem">
            <i class="fa-brands text-sm fa-whatsapp"></i>
         </span>
      920034830
   </div>
      <div class=" flex gap-4">
         <span class='flex justify-center item-center text-gray-500 py-2 border border-gray-400 rounded-full' style="padding:0.5rem 0.6rem">
            <i class="fa-solid text-sm fa-mobile-screen-button"></i>
         </span>
      920034830  
   </div>

   </div>

   <div class=" flex flex-col lg:flex-row gap-y-2 justify-between mt-5 item-center">

      <div class="flex flex-col lg:flex-row justify-between md:w-1/2 ">
         <div class="flex justify-between gap-3">
            <span class='flex justify-center item-center hover:border-gray-300 cursor-pointer transition-all text-gray-500 py-2 border border-gray-400 rounded-full'  style="padding:0.5rem 0.6rem">
               <i class="fa-brands fa-instagram" style="color: #000000;"></i>
            </span>
            <span class='flex justify-center item-center hover:border-gray-300 cursor-pointer transition-all text-gray-500 py-2 border border-gray-400 rounded-full'  style="padding:0.5rem 0.6rem">
               <i class="fa-brands fa-twitter"></i>
            </span>
            <span class='flex justify-center item-center hover:border-gray-300 cursor-pointer transition-all text-gray-500 py-2 border border-gray-400 rounded-full'  style="padding:0.5rem 0.6rem">
               <i class="fa-brands fa-snapchat"></i>
            </span>
            <span class='flex justify-center item-center hover:border-gray-300 cursor-pointer transition-all text-gray-500 py-2 border border-gray-400 rounded-full'  style="padding:0.5rem 0.6rem">
               <i class="fa-brands fa-tiktok"></i>
            </span>
            <span class='flex justify-center item-center hover:border-gray-300 cursor-pointer transition-all text-gray-500 py-2 border border-gray-400 rounded-full'  style="padding:0.5rem 0.6rem">
               <i class="fa-brands fa-youtube"></i>
            </span>
         </div>
         <div class="flex justify-between gap-4">
            <a class=' hover:text-gray-300 transition-all duration-300 text-gray-400' href>سياسة الاستبدال والاسترجاع</a>
            <a class=' hover:text-gray-300 transition-all duration-300 text-gray-400' href>عن شركة الخضير</a>
            <a class=' hover:text-gray-300 transition-all duration-300 text-gray-400' href>الأسئلة الشائعة</a>

         </div>

      </div>

      <div>
         <select  class=" outline-none border border-brown p-1 text-brown  hover-bg-brown hover:text-white">
            <option>العربيه</option>
            <option>الانجليزية</option>
         </select>
      </div>
   </div>

   <div class="flex flex-col lg:flex-row  gap-y-6 justify-between item-center mt-5">
      <div class="flex gap-4">
           <div  class="flex">
            <div class="flex  item-center">
               <img class="h-10 h-10" src="/images/footer9.webp">

            </div>
            <div>
               <div class="text-sm text-gray-400">الرقم الضريبي</div>
               <div class=" font-bold">311289203200003</div>

            </div>
         </div>
         <div  class="flex">
            <div class="flex  item-center">
               <img class="h-10 h-10" src="/images/footer8.webp">

            </div>
            <div>
               <div class="text-sm text-gray-400">موثوق لدى</div>
               <div class=" font-bold">منصة الأعمال</div>

            </div>
         </div>
       
      </div>
      <div class="text-gray-400 text-center">الحقوق محفوظة | 2024 الخضير لمجرة</div>
      <div class="flex justify-between">
         <img class="w-10 h-6" src="/images/footer7.webp">
         <img class="w-10 h-6" src="/images/footer6.webp">
         <img class="w-10 h-6" src="/images/footer5.webp">
         <img class="w-10 h-6" src="/images/footer4.webp">
         <img class="w-10 h-6" src="/images/footer3.webp">
         <img class="w-10 h-6" src="/images/footer2.webp">
         <img class="w-10 h-6" src="/images/footer1.webp">
      </div>
   </div>
   <div>