
{% macro dliveryMethod(type="", price="") %}
<div class="flex items-center gap-2">
    <input type="radio" name="delivery" value="{{ price }}" class="custom-radio" checked>
    <span>{{ type }}</span>
</div>
<div><span id="delivery-choosen">{{ price }}</span> ج.م</div>
{% endmacro %}
