{% extends "layouts/layout.njk" %}
{% from "common/components/swipper/index.njk" import Homeswipper,
ProductCardswipper,
opinionsswipper %}
{% from "common/components/headers/index.njk" import titleSection %}
{% from "common/components/cards/index.njk" import cardSection1,
cardOptions %}
{% from "common/components/operations/index.njk" import showMore %}

{% block content %}
<div class="main-bg pb-10">
    <div class="flex justify-center ">
        <div class="md:w-10/12 w-11/12">
            <div class="my-20">
                <a class="text-sm text-brown">الرئيسية</a>
                <i class="fa-solid fa-chevron-left text-sm text-brown"></i>
                <a class="text-sm text-brown">عطورنا</a>
            </div>
            <div class=" my-10 relative">
                <img class="w-full" src="/images/pages.webp">
            </div>
            <div class=" grid md:grid-cols-3  grid-cols-2 gap-3">

                {% for product in context.products %}
                    {{cardSection1(category=product.title,image=product.images[0].imageUrl, price=product.price, discount="67", priceBeforeDiscount="67", rating=5)}}
                {% endfor %}
     
            </div>
        </div>
    </div>
</div>
{% endblock %}


