{% extends "layouts/layout.njk" %}
{% from "common/components/product.njk" import product %}
{% block title %}متجرك -  {{page.title}}{% endblock %}
{% block content %}
  <div class=" md:h-screen flex justify-center items-center">
        <img class="md:w-5/12" src="/images/first.png">
    </div>
{% endblock %}

