{# details aboutus #}
<div class="grid  gap-y-6 md:grid-cols-3   justify-center">
    <div>
        <div class="text-center">
            <i class="fa-solid fa-medal  text-5xl" style="color: #f6cc36d6;"></i>

        </div>
        <div class="text-xl font-bold text-center">منتجات ذات جودة عالية</div>
        <div class="text-gray-400 text-center">أفخر أنواع العود والبخور يباع في هذا المكان</div>
    </div>
   
    <div>
        <div class="text-center">
            <i class="fa-solid fa-truck  text-5xl" style="color: #f6cc36d6;"></i>

        </div>
        <div class="text-xl font-bold text-center">خدمات التوصيل والشحن</div>
        <div class="text-gray-400 text-center">حسب اختيارك من شركات التوصيل لجميع مدن المملكة</div>
    </div>
     <div>
        <div class="text-center">
            <i class="fa-solid fa-money-check-dollar  text-5xl" style="color: #f6cc36d6;"></i>

        </div>
        <div class="text-xl font-bold text-center">طرق الدفع</div>
        <div class="text-gray-400 text-center">نوفر جميع خيارات الدفع الإلكتروني</div>
    </div>
</div>
{# details aboutus #}