{%macro dliveryTime()%}
         <li><span class=" text-brown-holder">شحن عادي :</span><span class=" font-semibold">
                3-5 ايام عمل</span></li>
        <li><span class=" text-brown-holder">شحن عادي :</span><span class=" font-semibold">
                3-5 ايام عمل</span></li>
        <li><span class=" text-brown-holder">شحن عادي :</span><span class=" font-semibold">
                3-5 ايام عمل</span></li>
{%endmacro%}