{%macro dliveryFeatures()%}
     <li><span class=" text-brown-holder">تفاصيل ممزقة لمظهر جذاب:</span><span
             class=" font-semibold"></span></li>
     <li><span class=" text-brown-holder"> أشرطة على الخصر الخلفي لتخصيص الأسلوب
             :</span><span class=" font-semibold"></span></li>
     <li><span class=" text-brown-holder"> اكمام طويلة لدفئ كامل :</span><span
             class=" font-semibold"></span></li>
     <li><span class=" text-brown-holder">أساور قابلة للتعديل بأزرار لملاءمة
             شخصية:</span><span class=" font-semibold"></span></li>
{%endmacro%}