{%macro offerDetails(offerIs="",oldPreice="",currentPrice="")%}
      <div class="flex items-center gap-2 ">
           <input type="radio" class="custom-radio">
           <span class=" text-lg font-semibold">اشتري قطعة بسعر 480 ج.م</span>
       </div>
       <div class="flex items-center gap-2">
           <span class="text-xl font-semibold text-red-500">{{oldPreice}} ج.م</span>
           <span class="text-brown-holder line-through">{{currentPrice}} ج.م</span>
       </div>
{%endmacro%}


{%macro otherOfferTitle(price="")%}
   <div class=" btn-offers w-10/12">سعر القطعة {{price}} ج.م</div>

{%endmacro%}
{%macro PriceAndDiscount(oldPrice="",currentPrice="")%}
 <div class="flex items-center gap-2">
            <span class="text-xl font-semibold text-red-500">{{currentPrice}} ج.م</span>
            <span class="text-brown-holder line-through">{{oldPrice}} ج.م</span>
        </div>
{%endmacro%}